{% extends theme %}
{% block content %}
			<div class="block">
					<span class="content-title">About server</span>
					<h2>Why our server is the best!? </h2>
					<p>MU Online, produced by Webzen Inc is a full 3D MMORPG which is one of <br>
					the leading online games developed in Korea. MU is a highly involved<br>
					fantasy RPG based on the legendary Continent of MU.<br>
					MU established a basic frame of various online games and other following<br>
					games and regarded as a pioneer of 3D MMORPG.</p>
				</div>
				<div class="block">
					<h2>New events TVT</h2>
					<p>Unique <strong>PVP Event</strong>, which currently only exists on our server. To date, there are no analogues.</p>

					<p>Event Description: Players, regardless of their location, are invited to participate in the event by invitation window in which you can accept or refuse to participate.
					After accepting the invitation goes countdown at the end of which all the players are teleported to the map and are divided into two teams (randomly).</p>

					<p>The winner is the team which will remain the surviving participants in the tournament, but the prizes for all the members of the winning team.
					At the end of Event all the players who participated, teleport to the place where they teleportnulo at the event</p>
				</div>
				<div class="block">
					<h2>Quest Master and Chaos Card Master</h2>
					<div class="flex block-b">
						<div class="block-info flex">
							<img src="images/img-1.jpg" alt="">
							<span><strong>Leo the Helper</strong> - The winner is the team which will remain the surviving participants in the tournament, but the prizes for all the members of the winning team.<br>
At the end of Event all the players who participated</span>
						</div>
						<div class="block-info flex">
							<img src="images/img-2.jpg" alt="">
							<span><strong>Chaos Card Master</strong> - winner is the team which will remain the surviving participants in the tournament, but the prizes for all the members of the winning team.</span>
						</div>
					</div>
				</div>
				<div class="block">
					<h2>Many different updates</h2>
					<p>Unique PVP Event, which currently only exists on our server. <br>
					To date, there are no analogues.</p>

					<p><strong>Off Trade</strong> - It is us, this feature was first developed in 2010, which is used on other servers. This innovation is made for a more comfortable game and economic development.<br>
					Read more here</p>

					<p><strong>New Rocks</strong> - This operating time allows any player to create a game by unique things. This operating time allows any player to create a game by unique things.</p>

					<p><strong>PVP Arena</strong> - in Daviase can be happy to spend time on the PVP arena where not charged status of PK.</p>

					<p><strong>Cash Shop</strong> - in the game store is available where it is possible to buy items for the time spent in the game, or voting for the server.</p>

					<p><strong>Blood Castle</strong> - double exp, randomly prizes for each passed event, an increased amount of Zen, as well as at the end of the 7th BC stands NPC merchant who sells cans SD.</p>

					<p><strong>PVP Arena</strong> - in Daviase can be happy to spend time on the PVP arena where not charged status of PK.</p>


					<p>All this and many not mentioned in the list, you will see only here. Overall, server bezbagovy Season 6 is waiting for you.</p>
				</div>

{% endblock content %}