{% extends theme %}
{% block slider %}
    <div class="slider">
        <div class="next arrows"></div>
        <div class="prev arrows"></div>
        <div class="slides">
            <div class="slide active"
                 style="background-image: url(/static/themes-media/Sky-Bow/images/slider-img.jpg);">
                <div class="slide-info">
                    <h2>New Title</h2>
                    <p>For those heroes who like what they hear and want to take a little thrum to their next
                        scrum...</p>
                </div>
            </div>
            <div class="slide" style="background-image: url(/static/themes-media/Sky-Bow/images/slider-img.jpg); ">
                <div class="slide-info">
                    <h2>New Title</h2>
                    <p>For those heroes who like what they hear and want to take a little thrum to their next
                        scrum...</p>
                </div>
            </div>
            <div class="slide" style="background-image: url(/static/themes-media/Sky-Bow/images/slider-img.jpg); ">
                <div class="slide-info">
                    <h2>New Title</h2>
                    <p>For those heroes who like what they hear and want to take a little thrum to their next
                        scrum...</p>
                </div>
            </div>
        </div>
        <div class="navigation">
        </div>
    </div><!-- slider -->
{% endblock slider %}
{% block content %}
    <div class="content-title flex-s-c">
        News <a href="#">+ More</a>
    </div>
    <div class="news flex-s">
        <a href="#" class="n-img"><img src="/static/themes-media/Sky-Bow/images/news-img-1.jpg" alt=""></a>
        <div class="news-text">
            <h2><span>Title News</span></h2>
            <p>For those heroes who like what they hear and want to take a little thrum to their next scrum,
                Awolnation’s ‘Magic Sticks of Dynamite’ music pack is also available in the <a href="#">MuOnline
                    store</a>. <br>
                For those heroes who like...</p>
            <div class="news-more">
                <a href="#" class="button">Read More</a> <span class="date">22/09/2018</span>
            </div>
        </div>
    </div><!-- news -->
    <div class="news flex-s">
        <a href="#" class="n-img"><img src="/static/themes-media/Sky-Bow/images/news-img-2.jpg" alt=""></a>
        <div class="news-text">
            <h2><span>For those heroes who like what they hear and want to take</span></h2>
            <p>For those heroes who like what they hear and want to take a little thrum to their next scrum,
                Awolnation’s ‘Magic Sticks of Dynamite’ music pack is also available in the <a href="#">MuOnline
                    store</a>. <br>
                For those heroes who like...</p>
            <div class="news-more">
                <a href="#" class="button">Read More</a> <span class="date">22/09/2018</span>
            </div>
        </div>
    </div><!-- news -->
    <div class="news flex-s">
        <a href="#" class="n-img"><img src="/static/themes-media/Sky-Bow/images/news-img-3.jpg" alt=""></a>
        <div class="news-text">
            <h2><span>Title News</span></h2>
            <p>For those heroes who like what they hear and want to take a little thrum to their next scrum,
                Awolnation’s ‘Magic Sticks of Dynamite’ music pack is also available in the <a href="#">MuOnline
                    store</a>. <br>
                For those heroes who like...</p>
            <p>For those heroes who like what they hear and want to take a little thrum to their next scrum,
                Awolnation’s ‘Magic Sticks of Dynamite’ music pack is also available in the <a href="#">MuOnline
                    store</a>. <br>
                For those heroes who like...</p>
            <div class="news-more">
                <a href="#" class="button">Read More</a> <span class="date">22/09/2018</span>
            </div>
        </div>
    </div><!-- news -->
    <div class="news flex-s">
        <a href="#" class="n-img"><img src="/static/themes-media/Sky-Bow/images/news-img-4.jpg" alt=""></a>
        <div class="news-text">
            <h2><span>Title News</span></h2>
            <p>For those heroes who like what they hear and want to take a little thrum to their next scrum,
                Awolnation’s ‘Magic Sticks of Dynamite’ music pack is also available in the <a href="#">MuOnline
                    store</a>. <br>
                For those heroes who like...</p>
            <div class="news-more">
                <a href="#" class="button">Read More</a> <span class="date">22/09/2018</span>
            </div>
        </div>
    </div><!-- news -->

    <ul class="pagination flex-c-c">
        <li><a href="#" class="page-numbers prev"></a></li>
        <li><span class="page-numbers active">1</span></li>
        <li><a href="#" class="page-numbers">2</a></li>
        <li><a href="#" class="page-numbers">3</a></li>
        <li><a href="#" class="page-numbers">4</a></li>
        <li><a href="#" class="page-numbers next"></a></li>
    </ul>
{% endblock content %}