<!DOCTYPE html>
<html lang="en">
<head>
    {% include header %}
    <link href="/static/themes-media/Sky-Bow/css/style.css" rel="stylesheet">
    <link href="/static/themes-media/Sky-Bow/css/css-reset.css" rel="stylesheet">
    <script src="/static/themes-media/Sky-Bow/js/jquery-2.1.4.min.js"></script>
    <script src="/static/themes-media/Sky-Bow/js/slider.js"></script>
</head>
{% if error %}
    <p class='alert alert-error'><strong>Error:</strong> {{ error }}
{% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<body>

{% if theme_switch_form %}
    <div class="theme-switch">
        <form method="post" action="">
            <select name="theme" id="changetheme">
                {% for themes in theme_switch_form %}
                    <option value="{{ themes }}">{{ themes }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <script>
        localStorage.setItem("themeselect", "{{ session['theme'] }}");
        $('#changetheme').find('option').each(function (i, e) {
            if ($(e).val() == localStorage.getItem("themeselect")) {
                $('#changetheme').prop('selectedIndex', i);
            }
        });
        $(function () {
            $('#changetheme').change(function () {
                this.form.submit();
            });
        });
    </script>
{% endif %}
<div class="wrapper">

    <header class="header">
        <div class="top-panel flex-s-c">
            <ul id="top-menu" class="menu">
                <li><a href="/home">News</a></li>
                <li><a href="/rankings">Rankings</a></li>
                <li><a href="/download">Files</a></li>
                <li><a href="/register">Registration</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">FB Group</a></li>
            </ul><!-- menu -->
            <div class="lang-block">
                <a href="javascript:void(0);" class="main-item"> Language <span>(eng)</span> <img
                        src="/static/themes-media/Sky-Bow/images/united-states.png" alt=""></a>
                <ul class="hidden-block">
                    <li><a href="#" class="main-item"> English <img
                            src="/static/themes-media/Sky-Bow/images/united-states.png" alt=""></a></li>
                    <li><a href="#" class="main-item"> German <img src="/static/themes-media/Sky-Bow/images/germany.png"
                                                                   alt=""></a></li>
                    <li><a href="#" class="main-item"> French <img src="/static/themes-media/Sky-Bow/images/france.png"
                                                                   alt=""></a></li>
                    <li><a href="#" class="main-item"> Russian <img src="/static/themes-media/Sky-Bow/images/russia.png"
                                                                    alt=""></a></li>
                </ul>
            </div><!-- lang-block -->
        </div><!-- top-panel -->
        <div class="logo">
            <a href="https://darksteam.net/threads/dtpyweb.24394/"><img
                    src="/static/themes-media/Sky-Bow/images/logo.png" alt="Logo"></a>
        </div><!-- logo -->
    </header><!-- .header-->

    <div class="container">
        <main class="content">
            {% block slider %}
            {% endblock slider %}
            {% block content %}
            {% endblock content %}
        </main>
        <aside class="sidebar">
            <div class="download-button flex-c-c">
                <a href="download"><span>Download</span> Download files to play a game</a>
            </div>
            {% if not session['username'] %}
                <div class="login-block">
                    <form method="post" action="">
                        <p><input type="text" name="login_username" placeholder="Login"></p>
                        <p><input type="password" name="login_password" placeholder="Password"></p>
                        <div class="login flex-s">
                            <div class="l-login">
                                <p><input id="check" type="checkbox" name="check" value="check">
                                    <label for="check" class="remember">Remember me</label></p>
                                <p><a href="#" class="lost">Lost your password?</a></p>
                                <p><a href="/register" class="reg">Registration</a></p>
                            </div>
                            <div class="r-login">
                                <button>Login</button>
                            </div>
                        </div>
                    </form>
                </div><!-- login-block -->
            {% else %}
                <div class="widget">
                    <span class="widget-title flex-s-c">Welcome {{ session['username'] }}</span>
                    <ul>
                        <li><a href="my-account">Account</a></li>
                        <li><a href="my-characters">Characters</a></li>
                        <li><a href="vip-modules">Vip Modules</a></li>
                        <li><a href="buy-credits">Buy Credits</a></li>
                        <li><a href="my-market">Market</a></li>
                        <li><a href="my-auction">Auction</a></li>
                        <li><a href="logout">Logout</a></li>
                        <li class="cursor-menu-right"></li>
                    </ul>
                </div>
            {% endif %}
            <div class="widget">
                <span class="widget-title flex-c-c">Server Status</span>
                <div class="status-block">
                    <div class="status flex-s-c">
                        <img src="/static/themes-media/Sky-Bow/images/icon-status-1.png" alt="">
                        <div class="status-b">
                            <div class="x-server flex-s">
                                X200 <span class="online">Online</span>
                            </div>
                            <div class="progress-block">
                                <span class="progress-bar" style="width: 70%;"></span>
                            </div>
                            <div class="online-number">
                                Online: 3250
                            </div>
                        </div>
                    </div><!-- status -->
                    <div class="status flex-s-c">
                        <img src="/static/themes-media/Sky-Bow/images/icon-status-2.png" alt="">
                        <div class="status-b">
                            <div class="x-server flex-s">
                                X2 <span class="offline">Offline</span>
                            </div>
                            <div class="progress-block">
                                <span class="progress-bar" style="width: 1%;"></span>
                            </div>
                            <div class="online-number">
                                Online: 0
                            </div>
                        </div>
                    </div><!-- status -->
                </div>
            </div><!-- widget -->
            <div class="widget">
                <span class="widget-title flex-s-c">Discussions <a href="#">+ Forum</a></span>
                <ul class="forum">
                    <li>
                        <img src="/static/themes-media/Sky-Bow/images/ava-1.png" alt="">
                        <div class="forum-text">
                            <a href="#" title="Welcome to our site Welcome" class="f-title">Welcome to our site
                                Welcome</a>
                            By <a href="#" class="author">David_pro</a> | 12.03.2018
                        </div>
                        <div class="comments">
                            <i></i>10
                        </div>
                    </li>
                    <li>
                        <img src="/static/themes-media/Sky-Bow/images/ava-2.png" alt="">
                        <div class="forum-text">
                            <a href="#" title="Welcome to our site Welcome" class="f-title">Welcome to our site
                                Welcome</a>
                            By <a href="#" class="author">David_pro</a> | 12.03.2018
                        </div>
                        <div class="comments">
                            <i></i>139
                        </div>
                    </li>
                    <li>
                        <img src="/static/themes-media/Sky-Bow/images/ava-3.png" alt="">
                        <div class="forum-text">
                            <a href="#" title="Welcome to our site Welcome" class="f-title">Welcome to our site
                                Welcome</a>
                            By <a href="#" class="author">Very_long_nick_name</a> | 12.03.2018
                        </div>
                        <div class="comments">
                            <i></i>139
                        </div>
                    </li>
                    <li>
                        <img src="/static/themes-media/Sky-Bow/images/ava-1.png" alt="">
                        <div class="forum-text">
                            <a href="#" title="Welcome to our site Welcome" class="f-title">Welcome to our site
                                Welcome</a>
                            By <a href="#" class="author">David_pro</a> | 12.03.2018
                        </div>
                        <div class="comments">
                            <i></i>139
                        </div>
                    </li>
                    <li>
                        <img src="/static/themes-media/Sky-Bow/images/ava-2.png" alt="">
                        <div class="forum-text">
                            <a href="#" title="Welcome to our site Welcome" class="f-title">Welcome to our site
                                Welcome</a>
                            By <a href="#" class="author">David_pro</a> | 12.03.2018
                        </div>
                        <div class="comments">
                            <i></i>1398
                        </div>
                    </li>
                </ul>
            </div><!-- widget -->
            <div class="widget">
                <span class="widget-title flex-s-c">Top Players <a href="#">+ More</a></span>
                <ul class="top">
                    <li>
                        <div><span>#</span> <span class="nickname">Name</span></div>
                        <div><span>lvl</span> <span>Res</span></div>
                    </li>
                    {% for tops in top10 %}
                        <li>
                            <div>
                                <span>{{ loop.index }}</span>
                                <span class="nickname"><a href="userinfo-{{ tops[1] }}"
                                                          title="{{ tops[1] }}">{{ tops[1] }}</a></span>
                            </div>
                            <div>
                                <span>{{ tops[2] }}</span>
                                <span>{{ tops[29] }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- widget -->
        </aside><!-- sidebar -->
    </div><!-- .container-->

    <footer class="footer">
        <div class="flex-s-c f-block">
            <div class="f-menu flex-s">
                <ul>
                    <li>News</li>
                    <li><a href="#">Overviews</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Starter Guide</a></li>
                </ul>
                <ul>
                    <li>Guild</li>
                    <li><a href="#">Overviews</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Starter Guide</a></li>
                </ul>
                <ul>
                    <li>Community</li>
                    <li><a href="#">Overviews</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Starter Guide</a></li>
                </ul>
                <ul>
                    <li>Media</li>
                    <li><a href="#">Overviews</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Starter Guide</a></li>
                </ul>
                <ul>
                    <li>Support</li>
                    <li><a href="#">Overviews</a></li>
                    <li><a href="#">Setting</a></li>
                    <li><a href="#">Starter Guide</a></li>
                </ul>
            </div>
            <div class="f-info">
                <div class="soc-block">
                    <a href="#" class="fb"></a> <a href="#" class="tw"></a> <a href="#" class="gl"></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            {{ author }}
        </div>
    </footer><!-- .footer -->
    <script src="/static/themes-media/Sky-Bow/js/jquery-2.1.4.min.js"></script>
    <script src="/static/themes-media/Sky-Bow/js/slider.js"></script>
</div><!-- .wrapper -->
</body>

</html>