{% extends theme %}
{% block login %}
		<div class="login-block">
			<form method="POST" action="">
				<input type="text" name="login_username" placeholder="Login">
                <input type="password" name="login_password" placeholder="Password">
				<button></button>
			</form>
		</div>
{% endblock login %}
{% block slider %}
    <div class="slider-block slider">
        <div class="slider-c"><div class="slides">
            <div class="slide active">
                <img src="/static/themes-media/Dark-Angel/images/slider-img.jpg" alt="">
                <div><a href="#">The official opening of the project</a>
                    MU Online was established in December 2001, the Korean game company Webzen.</div>
            </div>
            <div class="slide">
                <img src="/static/themes-media/Dark-Angel/images/slider-img.jpg" alt="">
                <div><a href="#">The official opening of the project</a>
                    MU Online was established in December 2001, the Korean game company Webzen.</div>
            </div>
            <div class="slide">
                <img src="/static/themes-media/Dark-Angel/images/slider-img.jpg" alt="">
                <div><a href="#">The official opening of the project</a>
                    MU Online was established in December 2001, the Korean game company Webzen.</div>
            </div>
        </div>
        </div><!-- slider -->
        <div class="navigation"></div>
    </div><!-- slider-block -->
{% endblock slider %}

{% block content %}
 	<div class="news">
		<div class="news-title">
			<span><b>31</b> / 12 / 2017</span> <a href="#">MU Online was established in December 2001, the Korean game company Webzen. Like most MMORPG</a>
		</div>
		<div class="news-text">
			<p>MU Online was established in December 2001, the Korean game company Webzen. Like most MMORPG, players must create a character by choosing one of five different classes. In order to gain experience and, therefore, increase the level, the player must fight monsters. In order to gain experience. MU Online was established in December 2001, the Korean game company Webzen.</p>
		</div>
		<div class="news-info">
			<a href="#" class="read-more">read more<i class="more-icon"></i></a>
			by: <a href="#">Admin</a>  <i class="comments-icon"></i>45 <i class="view-icon"></i>347
		</div>
	</div>
	<div class="news">
		<div class="news-title">
			<span><b>31</b> / 12 / 2017</span> <a href="#">MU Online was established in December 2001</a>
		</div>
		<div class="news-text">
			<p>MU Online was established in December 2001, the Korean game company Webzen. Like most MMORPG, players must create a character by choosing one of five different classes. In order to gain experience and, therefore, increase the level, the player must fight monsters. In order to gain experience. MU Online was established in December 2001, the Korean game company Webzen.</p>
			<p>MU Online was established in December 2001, the Korean game company Webzen. Like most MMORPG, players must create a character by choosing one of five different classes. In order to gain experience and, therefore, increase the level, the player must fight monsters. In order to gain experience. MU Online was established in December 2001, the Korean game company Webzen.</p>
		</div>
		<div class="news-info">
			<a href="#" class="read-more">read more<i class="more-icon"></i></a>
			by: <a href="#">Admin</a>  <i class="comments-icon"></i>45 <i class="view-icon"></i>347
		</div>
	</div>
	<div class="news">
		<div class="news-title">
			<span><b>31</b> / 12 / 2017</span> <a href="#">MU Online was established in December 2001, the Korean game company Webzen. Like most MMORPG</a>
		</div>
		<div class="news-text">
			<p><img src="../../static/Dark-Angel/images/news-img.jpg" alt=""></p>
			<p>MU Online was established in December 2001, the Korean game company Webzen. Like most MMORPG, players must create a character by choosing one of five different classes. In order to gain experience and, therefore, increase the level, the player must fight monsters. In order to gain experience. MU Online was established in December 2001, the Korean game company Webzen.</p>
		</div>
		<div class="news-info">
			<a href="#" class="read-more">read more<i class="more-icon"></i></a>
			by: <a href="#">Admin</a>  <i class="comments-icon"></i>45 <i class="view-icon"></i>347
		</div>
	</div>
	<div class="pagination">
		<a href="#" class="back">back</a>  <a href="#" class="number active">1</a> <a href="#" class="number">2</a> <a href="#" class="number">3</a> <a href="#" class="number">4</a> <a href="#" class="number">5</a> <span>...</span> <a href="#" class="number">25</a> <a href="#" class="next">next</a>
    </div>
{% endblock content %}
