{% extends theme %}
{% block content %}
    <div class="page-title"> About</div>
    <div class="content_new">
        <div class="subContents history2011">
            <dl>
                <dt>2018</dt>
                <dd class="first">
                    <span class="left"><em>10</em>/</span>
                    <span class="right">Launched <em>MU Online H5</em> in Korea</span>
                </dd>
                <dd>
                    <span class="left"><em>06</em>/</span>
                    <span class="right">Launched <em>MU Origin 2</em> in Korea</span>
                </dd>
            </dl>

            <dl>
                <dt>2017</dt>
                <dd class="first">
                    <span class="left"><em>03</em>/</span>
                    <span class="right">Launched <em>MU Legend</em> in Korea</span>
                </dd>
                <dd>
                    <span class="left"><em>01</em>/</span>
                    <span class="right">Signed Publishing Agreement with Tencent in China for <em>MU Origin's sequel</em></span>
                </dd>
            </dl>

            <dl>
                <dt>2016</dt>
                <dd class="first">
                    <span class="left"><em>10</em>/</span>
                    <span class="right">Launched <em>MU IGNITION</em> in Korea</span>
                </dd>
                <dd>
                    <span class="left"><em>05</em>/</span>
                    <span class="right">Launched <em>SHOT ONLINE M</em> in Korea</span>
                </dd>
                <dd>
                    <span class="left"><em>07</em>/</span>
                    <span class="right">Launched <em>THE BEAST</em> in Korea</span>
                </dd>
                <dd>
                    <span class="left"><em>01</em>/</span>
                    <span class="right">Started Open Beta test for <em>Winning Putt</em> in North America</span>
                </dd>
            </dl>


            <dl>
                <dt>2015</dt>
                <dd class="first">
                    <span class="left"><em>11</em>/</span>
                    <span class="right">Launched <em>ELOA: Elite Lord of Alliance</em> on WEBZEN.com</span>
                </dd>
                <dd>
                    <span class="left"><em>09</em>/</span>
                    <span class="right">Acquired ONNET, an operator of its game portal 'Gamescampus.com'</span>
                </dd>
                <dd>
                    <span class="left"><em>04</em>/</span>
                    <span class="right">Launched <em>MU Origin</em>, MU IP franchising mobile game, in Korea</span>
                </dd>
            </dl>
            <dl>
                <dt>2014</dt>
                <dd class="first">
                    <span class="left"><em>12</em>/</span>
                    <span class="right">Launched <em>MU Origin</em>, MU IP franchising mobile game, in China</span>
                </dd>
                <dd>
                    <span class="left"><em>09</em>/</span>
                    <span class="right">Launched <em>Archangel's Sword</em>, MU IP franchising web-based game, in Taiwan, Hong Kong and Macao</span>
                </dd>
                <dd>
                    <span class="left"><em>09</em>/</span>
                    <span class="right">Launched <em>Archlord 2</em> on WEBZEN.com</span>
                </dd>
                <dd>
                    <span class="left"><em>06</em>/</span>
                    <span class="right">Launched <em>Archangel's Sword</em>, MU IP franchising web-based game, in China</span>
                </dd>
                <dd>
                    <span class="left"><em>05</em>/</span>
                    <span class="right">Merged the global portals of gPotato with WEBZEN.com</span>
                </dd>
                <dd>
                    <span class="left"><em>02</em>/</span>
                    <span class="right">Founded the subsidiary for game development WEBZEN&amp;Play</span>
                </dd>
            </dl>
            <dl>
                <dt>2013</dt>
                <dd class="first">
                    <span class="left"><em>10</em>/</span>
                    <span class="right">Launched <em>Archlord 2</em> in Korea</span>
                </dd>
                <dd>
                    <span class="left"><em>06</em>/</span>
                    <span class="right">Changed names of WEBZEN's overseas subsidiary to WEBZEN DUBLIN</span>
                </dd>
                <dd>
                    <span class="left"><em>02</em>/</span>
                    <span class="right">Acquired Gala-Net Inc., an operator of the gPotato portals</span>
                </dd>
            </dl>
            <dl>
                <dt>2012</dt>
                <dd class="first">
                    <span class="left"><em>10</em>/</span>
                    <span class="right">Launched <em>Continent Of The Ninth Seal (C9)</em> in Thailand</span>
                </dd>
                <dd>
                    <span class="left"><em>08</em>/</span>
                    <span class="right">Launched <em>Continent Of The Ninth Seal (C9)</em> on Steam</span>
                </dd>
                <dd>
                    <span class="left"><em>07</em>/</span>
                    <span class="right">Launched <em>Continent Of The Ninth Seal (C9)</em> on WEBZEN.com</span>
                </dd>
                <dd>
                    <span class="left"><em>06</em>/</span>
                    <span class="right">Appointed CEO, Tae-Young Kim</span>
                </dd>
            </dl>
            <dl>
                <dt>2011</dt>
                <dd class="first">
                    <span class="left"><em>09</em>/</span>
                    <span class="right">Signed Licensing Agreement with Ini3 Digital in Thailand for <em>Continent Of The Ninth Seal (C9)</em></span>
                </dd>
                <dd>
                    <span class="left"><em>07</em>/</span>
                    <span class="right">Launched <em>Continent Of The Ninth Seal (C9)</em> in Japan</span>
                </dd>
                <dd>
                    <span class="left"><em>05</em>/</span>
                    <span class="right">Signed Licensing Agreement with Winner Online in Thailand for MU Online</span>
                </dd>
                <dd>
                    <span class="left"><em>02</em>/</span>
                    <span class="right">Acquired Ymir Entertainment Co.Ltd</span>
                </dd>
                <dd>
                    <span class="left"><em>01</em>/</span>
                    <span class="right">Signed Licensing Agreement with Game On in Japan for <em>Continent Of The Ninth Seal (C9)</em></span>
                </dd>
            </dl>
        </div>
    </div>
{% endblock content %}