{% extends theme %}
{% block content %}
    <div class="news">
        <div class="news-title content-title">
            <span>02.04.2018</span>
            <a href="#">Title or short description</a>
        </div>
        <div class="news-text">
            <div class="news-text-img">
                <img src="../../../static/themes-media/Fire-Splash/images/news-img-1.jpg" alt="">
            </div>
            <div class="news-text-info">
                <p>Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the most
                    popular massively multiplayer role-playing games in the world. The vast game world, great group
                    quests and realized ...</p>
                <div class="news-button">
                    <span>Comments: 34</span> <a href="#" class="button-a">read more</a>
                </div>
            </div>
        </div>
    </div><!-- news -->
    <div class="news">
        <div class="news-title content-title">
            <span>02.04.2018</span>
            <a href="#">Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the
                most popular massively multiplayer</a>
        </div>
        <div class="news-text">
            <div class="news-text-img">
                <img src="../../../static/themes-media/Fire-Splash/images/news-img-2.jpg" alt="">
            </div>
            <div class="news-text-info">
                <p>Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the most
                    popular massively multiplayer role-playing games in the world. The vast game world, great group
                    quests and realized ...</p>
                <p>Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the most
                    popular massively multiplayer role-playing games in the world. The vast game world, great group
                    quests and realized ...</p>
                <div class="news-button">
                    <span>Comments: 34</span> <a href="#" class="button-a">read more</a>
                </div>
            </div>
        </div>
    </div><!-- news -->
    <div class="news">
        <div class="news-title content-title">
            <span>02.04.2018</span>
            <a href="#">Title or short description</a>
        </div>
        <div class="news-text">
            <div class="news-text-img">
                <img src="../../../static/themes-media/Fire-Splash/images/news-img-3.jpg" alt="">
            </div>
            <div class="news-text-info">
                <p>Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the most
                    popular massively multiplayer role-playing games in the world. The vast game world, great group
                    quests and realized ...</p>
                <div class="news-button">
                    <span>Comments: 34</span> <a href="#" class="button-a">read more</a>
                </div>
            </div>
        </div>
    </div><!-- news -->
    <div class="news">
        <div class="news-title content-title">
            <span>02.04.2018</span>
            <a href="#">Title or short description</a>
        </div>
        <div class="news-text">
            <div class="news-text-img">
                <img src="../../../static/themes-media/Fire-Splash/images/news-img-4.jpg" alt="">
            </div>
            <div class="news-text-info">
                <p>Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the most
                    popular massively multiplayer role-playing games in the world. The vast game world, great group
                    quests and realized ...</p>
                <div class="news-button">
                    <span>Comments: 34</span> <a href="#" class="button-a">read more</a>
                </div>
            </div>
        </div>
    </div><!-- news -->
    <div class="news">
        <div class="news-title content-title">
            <span>02.04.2018</span>
            <a href="#">Title or short description</a>
        </div>
        <div class="news-text">
            <div class="news-text-img">
                <img src="../../../static/themes-media/Fire-Splash/images/news-img-5.jpg" alt="">
            </div>
            <div class="news-text-info">
                <p>Multiplayer online game (MMORPG), developed by the Russian company Webzen, has become one of the most
                    popular massively multiplayer role-playing games in the world. The vast game world, great group
                    quests and realized ...</p>
                <div class="news-button">
                    <span>Comments: 34</span> <a href="#" class="button-a">read more</a>
                </div>
            </div>
        </div>
    </div><!-- news -->
    <div class="pagination">
        <a href="#" class="nav prev">Back</a> <a href="#" class="number active">1</a> <a href="#" class="number">2</a>
        <a href="#" class="number">3</a> <a href="#" class="number">4</a> <a href="#" class="number">5</a>
        <span>...</span> <a href="#" class="number">25</a> <a href="#" class="nav next">Next</a>
    </div>

{% endblock content %}