{% extends theme %}
{% block content %}
    <div id='news_title'>
        LAST NEWS
    </div>
    <div id='content_padding'>
        <!-- News -->
        <div class='news'>
            <div class='news_title'>
                <div class='news_date'>
                    <span>06</span> / 10 / 2013
                </div>
                <img src="/static/themes-media/Crystal-Mu/design_img/news_icon.png" alt="">
                <a href="#">New heroes and arts</a>
            </div>
            <div class='news_text'>
                MU Online was created in December 2001 by the Korean gaming company Webzen. Like in most MMORPGs,
                players have to create a character among five different classes and to set their foot on the MU
                Continent.
                <br><br>
                In order to gain experience and thus to level up, a players needs to fight monsters (mobs).
            </div>
            <div class='news_info'>
                <a href="#">+ Read more</a>
                by Admin<span class='info_views'>546</span><span class='info_comments'>98</span>
            </div>
        </div>
        <!-- News -->
        <div class='news'>
            <div class='news_title'>
                <div class='news_date'>
                    <span>04</span> / 10 / 2013
                </div>
                <img src="/static/themes-media/Crystal-Mu/design_img/news_icon.png" alt="">
                <a href="#">Server update</a>
            </div>
            <div class='news_text'>
                MU Online was created in December 2001 by the Korean gaming company Webzen. Like in most MMORPGs,
                players have to create a character among five different classes and to set their foot on the MU
                Continent. In order to gain experience and thus to level up, a players needs to fight monsters (mobs).
            </div>
            <div class='news_info'>
                <a href="#">+ Read more</a>
                by Admin<span class='info_views'>546</span><span class='info_comments'>98</span>
            </div>
        </div>
        <!-- News -->
        <div class='news'>
            <div class='news_title'>
                <div class='news_date'>
                    <span>03</span> / 10 / 2013
                </div>
                <img src="/static/themes-media/Crystal-Mu/design_img/news_icon.png" alt="">
                <a href="#">Beta Test</a>
            </div>
            <div class='news_text'>
                MU Online was created in December 2001 by the Korean gaming company Webzen.
                Like in most MMORPGs, players have to create a character among five different classes and to set their
                foot on the MU Continent. In order to gain experience and thus to level up, a players needs to fight
                monsters (mobs).
                <br><br>
                Like in most MMORPGs, players have to create a character among five different classes and to set their
                foot on the MU Continent.
            </div>
            <div class='news_info'>
                <a href="#">+ Read more</a>
                by Admin<span class='info_views'>546</span><span class='info_comments'>98</span>
            </div>
        </div>
        <!-- News -->
        <div class='news'>
            <div class='news_title'>
                <div class='news_date'>
                    <span>01</span> / 10 / 2013
                </div>
                <img src="/static/themes-media/Crystal-Mu/design_img/news_icon.png" alt="">
                <a href="#">Welcome to ElementMu!</a>
            </div>
            <div class='news_text'>
                MU Online was created in December 2001 by the Korean gaming company Webzen.
                <br><br>
                Like in most MMORPGs, players have to create a character among five different classes and to set their
                foot on the MU Continent. In order to gain experience and thus to level up, a players needs to fight
                monsters (mobs).
            </div>
            <div class='news_info'>
                <a href="#">+ Read more</a>
                by Admin<span class='info_views'>546</span><span class='info_comments'>98</span>
            </div>
        </div>
        <!-- Pages -->
        <div id='pages'>
            <a href="#">< back</a>
            <span><a href="#">1</a></span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            ...
            <a href="#">32</a>
            <a href="#">next ></a>
        </div>
    </div>
{% endblock content %}


