	{% extends theme %}
    {% block content %}

				<div class="news-block">
					<div class="news-block-title">
						<a href="#"><b>+</b> more</a>
						<span>NEWS</span>
					</div>
					<div class="news">
						<div class="news-title">
							<span><b>21</b>/01/2018</span>
							<a href="#">News title</a>
						</div>
						<div class="news-text">
							<div class="news-img">
								<a href="#"><img src="/static/themes-media/New-Season/images/news-img-1.jpg" alt=""></a>
							</div>
							<p>Server have moved to new hosting. Now mu online is hosted in Los Angeles, US! <br>
							At new hosting server wont have any more lag and have better connection and reduced ping to ASIA and EU! <br>
							Perfect ping would be for US, Canada and Latin America players!!
							New patch is recommenced <a href="#">to download!</a> To do so run...<br>
							Perfect ping would be for US, Canada and Latin America players!!
							New patch is recommenced to download! To do so run...</p>
						</div>
						<div class="news-info">
							<a href="#" class="read-more button-a button-grey">READ MORE</a>
							<span>By: <a href="#" class="news-links">Admin</a></span> <span>Date: Yesterday, at 15:38</span> <span>Comments: <a href="#" class="news-links">17</a></span>
						</div>
					</div><!-- news -->
					<div class="news">
						<div class="news-title">
							<span><b>21</b>/01/2018</span>
							<a href="#">At new hosting server wont have any more lag and have better connection and reduced ping to ASIA and EU!</a>
						</div>
						<div class="news-text">
							<div class="news-img">
								<a href="#"><img src="/static/themes-media/New-Season/images/news-img-2.jpg" alt=""></a>
							</div>
							<p>Server have moved to new hosting. Now mu online is hosted in Los Angeles, US! <br>
							At new hosting server wont have any more lag and have better connection and reduced ping to ASIA and EU! <br>
							Perfect ping would be for US, Canada and Latin America players!!
							New patch is recommenced <a href="#">to download!</a> To do so run...<br>
							Perfect ping would be for US, Canada and Latin America players!!
							New patch is recommenced to download! To do so run...</p>
							Server have moved to new hosting. Now mu online is hosted in Los Angeles, US! <br>
							<p>At new hosting server wont have any more lag and have better connection and reduced ping to ASIA and EU! <br>
							Perfect ping would be for US, Canada and Latin America players!!
							New patch is recommenced <a href="#">to download!</a> To do so run...<br>
							Perfect ping would be for US, Canada and Latin America players!!
							New patch is recommenced to download! To do so run...</p>
							Server have moved to new hosting. Now mu online is hosted in Los Angeles, US! <br>
							At new hosting server wont have any more lag and have better connection and reduced ping to ASIA and EU! <br>
							Perfect ping would be for US, Canada and Latin America players!!
						</div>
						<div class="news-info">
							<a href="#" class="read-more button-a button-grey">READ MORE</a>
							<span>By: <a href="#" class="news-links">Admin</a></span> <span>Date: Yesterday, at 15:38</span> <span>Comments: <a href="#" class="news-links">17</a></span>
						</div>
					</div><!-- news -->
					<div class="news">
						<div class="news-title">
							<span><b>21</b>/01/2018</span>
							<a href="#">News title</a>
						</div>
						<div class="news-text">
							<div class="news-img">
								<a href="#"><img src="/static/themes-media/New-Season/images/news-img-1.jpg" alt=""></a>
							</div>
							<p>Server have moved to new hosting. Now mu online is hosted in Los Angeles, US! <br>
							At new hosting server wont have any more lag and have better connection and reduced ping to ASIA and EU! <br>
							Perfect ping would be for US, Canada and Latin America players!!</p>
						</div>
						<div class="news-info">
							<a href="#" class="read-more button-a button-grey">READ MORE</a>
							<span>By: <a href="#" class="news-links">Admin</a></span> <span>Date: Yesterday, at 15:38</span> <span>Comments: <a href="#" class="news-links">17</a></span>
						</div>
					</div><!-- news -->
					<div class="pagination">
						<a href="#" class="back">back</a> <a href="#" class="nav active">1</a> <a href="#" class="nav">2</a> <a href="#" class="nav">3</a> <a href="#" class="nav">4</a> ... <a href="#" class="nav">25</a> <a href="#" class="next">next</a>
					</div>
				</div><!-- news-block -->
                {% endblock content %}